<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BDZikaConnectionString" connectionString="Data Source=localhost; Initial Catalog=BDZika; User Id=sa; Password=3s4mc" />
    <add name="GUI.Properties.Settings.BDZikaConnectionString" connectionString="Data Source=localhost;Initial Catalog=BDZika;User ID=sa;Password=3s4mc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>